@import "../globals/bootstrap.min.css";

.hb-btn {
    border-radius: 3px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 24px
}

.hb-btn:focus {
    -webkit-box-shadow: 0 0 0 .2rem #eff2f9;
    box-shadow: 0 0 0 .2rem #eff2f9
}

.animation-modal, .button-items, .button-list {
    margin-bottom: -8px
}

.animation-modal .hb-btn, .button-items .hb-btn, .button-list .hb-btn {
    margin-bottom: 8px;
    margin-right: 5px
}

.hb-btn-xl {
    padding: 12px 24px;
    font-size: 18px
}

.hb-btn-sm {
    padding: 4px 8px;
    font-size: 12px
}

.hb-btn-xs {
    padding: 2px 10px;
    font-size: 11px
}

.hb-btn-round {
    border-radius: 30px
}

.hb-btn-square {
    border-radius: 0
}

.hb-btn-skew {
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg)
}

.hb-btn-skew span {
    display: inline-block;
    -webkit-transform: skew(15deg);
    transform: skew(15deg)
}

.accordion .hb-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.hb-btn.hb-btn-outline-dashed {
    outline: 1px dashed #fff !important;
    outline-offset: -5px;
    -moz-outline-radius: 25px
}

.hb-btn-blue, .hb-btn-danger, .hb-btn-dark, .hb-btn-info, .hb-btn-pink, .hb-btn-primary, .hb-btn-purple, .hb-btn-secondary, .hb-btn-success, .hb-btn-warning {
    color: #fff
}

.hb-btn-primary {
    background-color: #4d79f6;
    border: 1px solid #4d79f6;
    -webkit-box-shadow: 0 2px 6px 0 rgba(77, 121, 246, .5);
    box-shadow: 0 2px 6px 0 rgba(77, 121, 246, .5)
}

.hb-btn-outline-primary.active, .hb-btn-outline-primary:active, .hb-btn-outline-primary:hover, .hb-btn-outline-primary:not(:disabled):not(.disabled).active, .hb-btn-outline-primary:not(:disabled):not(.disabled):active, .hb-btn-primary.active, .hb-btn-primary.disabled, .hb-btn-primary.focus, .hb-btn-primary:active, .hb-btn-primary:disabled, .hb-btn-primary:focus, .hb-btn-primary:hover, .hb-btn-primary:not(:disabled):not(.disabled).active, .hb-btn-primary:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-primary, .show > .hb-btn-outline-primary.dropdown-toggle, .show > .hb-btn-primary.dropdown-toggle, a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #3567f5 !important;
    border: 1px solid #3567f5
}

.hb-btn-outline-primary.focus, .hb-btn-outline-primary:focus, .hb-btn-primary.focus, .hb-btn-primary:focus, .hb-btn-primary:not(:disabled):not(.disabled):active:focus, .show > .hb-btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(77, 121, 246, .3) !important;
    box-shadow: 0 0 0 2px rgba(77, 121, 246, .3) !important
}

.hb-btn-outline-primary.disabled, .hb-btn-outline-primary:disabled, .hb-btn-primary:not(:disabled):not(.disabled).active, .hb-btn-primary:not(:disabled):not(.disabled):active, .show > .hb-btn-primary.dropdown-toggle {
    color: #658bf7
}

.hb-btn-success {
    background-color: #1ecab8;
    border: 1px solid #1ecab8;
    -webkit-box-shadow: 0 2px 6px 0 rgba(30, 202, 184, .5);
    box-shadow: 0 2px 6px 0 rgba(30, 202, 184, .5)
}

.hb-btn-outline-success.active, .hb-btn-outline-success:active, .hb-btn-outline-success:hover, .hb-btn-outline-success:not(:disabled):not(.disabled).active, .hb-btn-outline-success:not(:disabled):not(.disabled):active, .hb-btn-success.active, .hb-btn-success.disabled, .hb-btn-success.focus, .hb-btn-success:active, .hb-btn-success:disabled, .hb-btn-success:focus, .hb-btn-success:hover, .hb-btn-success:not(:disabled):not(.disabled).active, .hb-btn-success:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-success, .show > .hb-btn-outline-success.dropdown-toggle, .show > .hb-btn-success.dropdown-toggle {
    background-color: #1bb4a4;
    border: 1px solid #1bb4a4
}

.hb-btn-outline-success.focus, .hb-btn-outline-success:focus, .hb-btn-success.focus, .hb-btn-success:focus, .hb-btn-success:not(:disabled):not(.disabled):active:focus, .show > .hb-btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(30, 202, 184, .3) !important;
    box-shadow: 0 0 0 2px rgba(30, 202, 184, .3) !important
}

.hb-btn-info {
    background-color: #9ba7ca;
    border: 1px solid #9ba7ca;
    -webkit-box-shadow: 0 2px 6px 0 rgba(155, 167, 202, .5);
    box-shadow: 0 2px 6px 0 rgba(155, 167, 202, .5)
}

.hb-btn-info.active, .hb-btn-info.disabled, .hb-btn-info.focus, .hb-btn-info:active, .hb-btn-info:disabled, .hb-btn-info:focus, .hb-btn-info:hover, .hb-btn-info:not(:disabled):not(.disabled).active, .hb-btn-info:not(:disabled):not(.disabled):active, .hb-btn-outline-info.active, .hb-btn-outline-info:active, .hb-btn-outline-info:hover, .hb-btn-outline-info:not(:disabled):not(.disabled).active, .hb-btn-outline-info:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-info, .show > .hb-btn-info.dropdown-toggle, .show > .hb-btn-outline-info.dropdown-toggle {
    background-color: #8a98c1;
    border: 1px solid #8a98c1
}

.hb-btn-info.focus, .hb-btn-info:focus, .hb-btn-info:not(:disabled):not(.disabled):active:focus, .hb-btn-outline-info.focus, .hb-btn-outline-info:focus, .show > .hb-btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(155, 167, 202, .3) !important;
    box-shadow: 0 0 0 2px rgba(155, 167, 202, .3) !important
}

.hb-btn-outline-info.disabled, .hb-btn-outline-info:disabled {
    color: #a5b0cf
}

.hb-btn-warning {
    background-color: #f3c74d;
    border: 1px solid #f3c74d;
    -webkit-box-shadow: 0 2px 6px 0 rgba(243, 199, 77, .5);
    box-shadow: 0 2px 6px 0 rgba(243, 199, 77, .5)
}

.hb-btn-outline-warning.active, .hb-btn-outline-warning:active, .hb-btn-outline-warning:hover, .hb-btn-outline-warning:not(:disabled):not(.disabled).active, .hb-btn-outline-warning:not(:disabled):not(.disabled):active, .hb-btn-warning.active, .hb-btn-warning.disabled, .hb-btn-warning.focus, .hb-btn-warning:active, .hb-btn-warning:disabled, .hb-btn-warning:focus, .hb-btn-warning:hover, .open > .dropdown-toggle.hb-btn-warning, .show > .hb-btn-outline-warning.dropdown-toggle, .show > .hb-btn-warning.dropdown-toggle {
    background-color: #f1bf35;
    border: 1px solid #f1bf35;
    color: #fff
}

.hb-btn-outline-warning.focus, .hb-btn-outline-warning:focus, .hb-btn-warning.focus, .hb-btn-warning:focus, .hb-btn-warning:not(:disabled):not(.disabled):active:focus, .show > .hb-btn-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(243, 199, 77, .3) !important;
    box-shadow: 0 0 0 2px rgba(243, 199, 77, .3) !important
}

.hb-btn-danger {
    background-color: #f1646c;
    border: 1px solid #f1646c;
    -webkit-box-shadow: 0 2px 6px 0 rgba(241, 100, 108, .5);
    box-shadow: 0 2px 6px 0 rgba(241, 100, 108, .5)
}

.hb-btn-danger.active, .hb-btn-danger.disabled, .hb-btn-danger.focus, .hb-btn-danger:active, .hb-btn-danger:disabled, .hb-btn-danger:focus, .hb-btn-danger:hover, .hb-btn-danger:not(:disabled):not(.disabled):active, .hb-btn-outline-danger.active, .hb-btn-outline-danger:active, .hb-btn-outline-danger:hover, .hb-btn-outline-danger:not(:disabled):not(.disabled).active, .hb-btn-outline-danger:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-danger, .show > .hb-btn-danger.dropdown-toggle, .show > .hb-btn-outline-danger.dropdown-toggle {
    background-color: #ef4d56;
    border: 1px solid #ef4d56
}

.hb-btn-danger.focus, .hb-btn-danger:focus, .hb-btn-outline-danger.focus, .hb-btn-outline-danger:focus, .show > .hb-btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(241, 100, 108, .3) !important;
    box-shadow: 0 0 0 2px rgba(241, 100, 108, .3) !important
}

.hb-btn-secondary {
    background-color: #4ac7ec;
    border: 1px solid #4ac7ec;
    -webkit-box-shadow: 0 2px 6px 0 rgba(74, 199, 236, .5);
    box-shadow: 0 2px 6px 0 rgba(74, 199, 236, .5);
    color: #f3f6f7
}

.hb-btn-outline-secondary.active, .hb-btn-outline-secondary:active, .hb-btn-outline-secondary:hover, .hb-btn-outline-secondary:not(:disabled):not(.disabled).active, .hb-btn-outline-secondary:not(:disabled):not(.disabled):active, .hb-btn-secondary.active, .hb-btn-secondary.disabled, .hb-btn-secondary.focus, .hb-btn-secondary:active, .hb-btn-secondary:disabled, .hb-btn-secondary:focus, .hb-btn-secondary:hover, .hb-btn-secondary:not(:disabled):not(.disabled).active, .hb-btn-secondary:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-secondary, .show > .hb-btn-outline-secondary.dropdown-toggle, .show > .hb-btn-secondary.dropdown-toggle, a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover {
    background-color: #33c0ea !important;
    border: 1px solid #33c0ea;
    color: #f3f6f7
}

.hb-btn-outline-secondary.focus, .hb-btn-outline-secondary:focus, .hb-btn-secondary.focus, .hb-btn-secondary:focus, .hb-btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .hb-btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(74, 199, 236, .3) !important;
    box-shadow: 0 0 0 2px rgba(74, 199, 236, .3) !important
}

.hb-btn-light {
    color: #50649c;
    background-color: #f1f5fa;
    border: 1px solid #eff2f9;
    -webkit-box-shadow: 0 2px 6px 0 rgba(182, 194, 228, .5);
    box-shadow: 0 2px 6px 0 rgba(182, 194, 228, .5)
}

.hb-btn-light.active, .hb-btn-light.disabled, .hb-btn-light.focus, .hb-btn-light:active, .hb-btn-light:disabled, .hb-btn-light:focus, .hb-btn-light:hover, .hb-btn-light:not(:disabled):not(.disabled).active, .hb-btn-light:not(:disabled):not(.disabled):active, .hb-btn-outline-light.active, .hb-btn-outline-light:active, .hb-btn-outline-light:hover, .hb-btn-outline-light:not(:disabled):not(.disabled).active, .hb-btn-outline-light:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-light, .show > .hb-btn-light.dropdown-toggle, .show > .hb-btn-outline-light.dropdown-toggle {
    background-color: #dee8f3;
    border: 1px solid #dee8f3
}

.hb-btn-light.focus, .hb-btn-light:focus, .hb-btn-outline-light.focus, .hb-btn-outline-light:focus, .show > .hb-btn-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(239, 242, 249, .3) !important;
    box-shadow: 0 0 0 2px rgba(239, 242, 249, .3) !important
}

.hb-btn-light:not(:disabled):not(.disabled).active, .hb-btn-light:not(:disabled):not(.disabled):active, .show > .hb-btn-light.dropdown-toggle {
    color: #50649c
}

.hb-btn-dark {
    background-color: #2f4686;
    border: 1px solid #2f4686;
    -webkit-box-shadow: 0 2px 6px 0 rgba(47, 70, 134, .5);
    box-shadow: 0 2px 6px 0 rgba(47, 70, 134, .5);
    color: #fff
}

.hb-btn-dark.active, .hb-btn-dark.disabled, .hb-btn-dark.focus, .hb-btn-dark:active, .hb-btn-dark:disabled, .hb-btn-dark:focus, .hb-btn-dark:hover, .hb-btn-outline-dark.active, .hb-btn-outline-dark:active, .hb-btn-outline-dark:hover, .hb-btn-outline-dark:not(:disabled):not(.disabled).active, .hb-btn-outline-dark:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-dark, .show > .hb-btn-outline-dark.dropdown-toggle {
    background-color: #283c73;
    border: 1px solid #283c73;
    color: #fff
}

.hb-btn-dark.focus, .hb-btn-dark:focus, .hb-btn-outline-dark.focus, .hb-btn-outline-dark:focus, .show > .hb-btn-dark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(47, 70, 134, .3) !important;
    box-shadow: 0 0 0 2px rgba(47, 70, 134, .3) !important
}

.hb-btn-link {
    color: #8997bd
}

.hb-btn-link:active, .hb-btn-link:focus, .hb-btn-link:hover {
    text-decoration: none;
    color: #50649c
}

.hb-btn-pink {
    background-color: #ff5da0;
    border: 1px solid #ff5da0;
    color: #fff;
    -webkit-box-shadow: 0 2px 6px 0 rgba(255, 93, 160, .5);
    box-shadow: 0 2px 6px 0 rgba(255, 93, 160, .5)
}

.hb-btn-outline-pink.active, .hb-btn-outline-pink:active, .hb-btn-outline-pink:hover, .hb-btn-outline-pink:not(:disabled):not(.disabled).active, .hb-btn-outline-pink:not(:disabled):not(.disabled):active, .hb-btn-pink.active, .hb-btn-pink.disabled, .hb-btn-pink.focus, .hb-btn-pink:active, .hb-btn-pink:disabled, .hb-btn-pink:focus, .hb-btn-pink:hover, .open > .dropdown-toggle.hb-btn-pink, .show > .hb-btn-outline-pink.dropdown-toggle {
    background-color: #ff4491;
    border: 1px solid #ff4491;
    color: #fff
}

.hb-btn-outline-pink.focus, .hb-btn-outline-pink:focus, .hb-btn-pink.focus, .hb-btn-pink:focus, .show > .hb-btn-pink.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 93, 160, .3) !important;
    box-shadow: 0 0 0 2px rgba(255, 93, 160, .3) !important
}

.hb-btn-purple {
    background-color: #7551e9;
    border: 1px solid #7551e9;
    color: #fff;
    -webkit-box-shadow: 0 2px 6px 0 rgba(117, 81, 233, .5);
    box-shadow: 0 2px 6px 0 rgba(117, 81, 233, .5)
}

.hb-btn-outline-purple.active, .hb-btn-outline-purple:active, .hb-btn-outline-purple:hover, .hb-btn-outline-purple:not(:disabled):not(.disabled).active, .hb-btn-outline-purple:not(:disabled):not(.disabled):active, .hb-btn-purple.active, .hb-btn-purple.disabled, .hb-btn-purple.focus, .hb-btn-purple:active, .hb-btn-purple:disabled, .hb-btn-purple:focus, .hb-btn-purple:hover, .open > .dropdown-toggle.hb-btn-purple, .show > .hb-btn-outline-purple.dropdown-toggle {
    background-color: #633ae6;
    border: 1px solid #633ae6;
    color: #fff
}

.hb-btn-outline-purple.focus, .hb-btn-outline-purple:focus, .hb-btn-purple.focus, .hb-btn-purple:focus, .show > .hb-btn-purple.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(117, 81, 233, .3);
    box-shadow: 0 0 0 2px rgba(117, 81, 233, .3)
}

.hb-btn-blue {
    background-color: #2b55cc;
    border: 1px solid #2b55cc;
    -webkit-box-shadow: 0 2px 6px 0 rgba(43, 85, 204, .5);
    box-shadow: 0 2px 6px 0 rgba(43, 85, 204, .5)
}

.hb-btn-blue.active, .hb-btn-blue.disabled, .hb-btn-blue.focus, .hb-btn-blue:active, .hb-btn-blue:disabled, .hb-btn-blue:focus, .hb-btn-blue:hover, .hb-btn-blue:not(:disabled):not(.disabled):active, .hb-btn-outline-blue.active, .hb-btn-outline-blue:active, .hb-btn-outline-blue:hover, .hb-btn-outline-blue:not(:disabled):not(.disabled).active, .hb-btn-outline-blue:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-blue, .show > .hb-btn-blue.dropdown-toggle, .show > .hb-btn-outline-blue.dropdown-toggle, a.bg-blue:focus, a.bg-blue:hover, button.bg-blue:focus, button.bg-blue:hover {
    background-color: #274cb7 !important;
    border: 1px solid #274cb7;
    color: #fff
}

.hb-btn-blue.focus, .hb-btn-blue:focus, .hb-btn-blue:not(:disabled):not(.disabled):active:focus, .hb-btn-outline-blue.focus, .hb-btn-outline-blue:focus, .show > .hb-btn-blue.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(43, 85, 204, .3) !important;
    box-shadow: 0 0 0 2px rgba(43, 85, 204, .3) !important
}

.hb-btn-white {
    background-color: #fff;
    color: #50649c;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 1px 4px .25px #dbe0ec;
    box-shadow: 0 1px 4px .25px #dbe0ec
}

.hb-btn-outline-white.active, .hb-btn-outline-white:active, .hb-btn-outline-white:hover, .hb-btn-outline-white:not(:disabled):not(.disabled).active, .hb-btn-outline-white:not(:disabled):not(.disabled):active, .hb-btn-white.active, .hb-btn-white.disabled, .hb-btn-white.focus, .hb-btn-white:active, .hb-btn-white:disabled, .hb-btn-white:focus, .hb-btn-white:hover, .hb-btn-white:not(:disabled):not(.disabled).active, .hb-btn-white:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.hb-btn-white, .show > .hb-btn-outline-white.dropdown-toggle, .show > .hb-btn-white.dropdown-toggle, a.bg-white:focus, a.bg-white:hover, button.bg-white:focus, button.bg-white:hover {
    background-color: #f2f2f2 !important;
    border: 1px solid #f2f2f2
}

.hb-btn-outline-white.focus, .hb-btn-outline-white:focus, .hb-btn-white.focus, .hb-btn-white:focus, .hb-btn-white:not(:disabled):not(.disabled):active:focus, .show > .hb-btn-white.dropdown-toggle:focus {
    -webkit-box-shadow: 0 1px 4px .25px #dbe0ec !important;
    box-shadow: 0 1px 4px .25px #dbe0ec !important
}

.hb-btn-outline-primary {
    color: #4d79f6;
    border-color: #4d79f6
}

.hb-btn-outline-success {
    color: #1ecab8;
    border-color: #1ecab8
}

.hb-btn-outline-info {
    color: #9ba7ca;
    border-color: #9ba7ca
}

.hb-btn-outline-warning {
    color: #f3c74d;
    border-color: #f3c74d
}

.hb-btn-outline-danger {
    color: #f1646c;
    border-color: #f1646c
}

.hb-btn-outline-dark {
    color: #2f4686;
    background-image: none;
    background-color: transparent;
    border-color: #2f4686
}

.hb-btn-outline-light {
    color: #7081b9;
    background-image: none;
    background-color: transparent;
    border-color: #dbe0ec
}

.hb-btn-outline-secondary {
    color: #4ac7ec;
    background-image: none;
    background-color: transparent;
    border-color: #4ac7ec
}

.hb-btn-outline-pink {
    color: #ff5da0;
    background-image: none;
    background-color: transparent;
    border-color: #ff5da0
}

.hb-btn-outline-purple {
    color: #7551e9;
    background-image: none;
    background-color: transparent;
    border-color: #7551e9
}

.hb-btn-outline-blue {
    color: #2b55cc;
    background-image: none;
    background-color: transparent;
    border-color: #2b55cc
}

.hb-btn-soft-primary {
    background-color: rgba(77, 121, 246, .1);
    color: #4d79f6
}

.hb-btn-soft-primary:hover {
    background-color: #4d79f6;
    color: #fff
}

.hb-btn-soft-primary:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(77, 121, 246, .2);
    box-shadow: 0 0 0 .1rem rgba(77, 121, 246, .2);
    background-color: rgba(77, 121, 246, .8);
    color: #fff
}

.hb-btn-soft-secondary {
    background-color: rgba(74, 199, 236, .15);
    color: #4ac7ec
}

.hb-btn-soft-secondary:hover {
    background-color: #4ac7ec;
    color: #fff
}

.hb-btn-soft-secondary:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(74, 199, 236, .2);
    box-shadow: 0 0 0 .1rem rgba(74, 199, 236, .2);
    background-color: rgba(74, 199, 236, .8);
    color: #fff
}

.hb-btn-soft-success {
    background-color: rgba(30, 202, 184, .1);
    color: #1ecab8
}

.hb-btn-soft-success:hover {
    background-color: #1ecab8;
    color: #fff
}

.hb-btn-soft-success:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(30, 202, 184, .2);
    box-shadow: 0 0 0 .1rem rgba(30, 202, 184, .2);
    background-color: rgba(30, 202, 184, .8);
    color: #fff
}

.hb-btn-soft-warning {
    background-color: rgba(243, 199, 77, .18);
    color: #f3c74d
}

.hb-btn-soft-warning:hover {
    background-color: #f3c74d;
    color: #fff
}

.hb-btn-soft-warning:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(243, 199, 77, .2);
    box-shadow: 0 0 0 .1rem rgba(243, 199, 77, .2);
    background-color: rgba(243, 199, 77, .8);
    color: #fff
}

.hb-btn-soft-danger {
    background-color: rgba(241, 100, 108, .1);
    color: #f1646c
}

.hb-btn-soft-danger:hover {
    background-color: #f1646c;
    color: #fff
}

.hb-btn-soft-danger:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(241, 100, 108, .2);
    box-shadow: 0 0 0 .1rem rgba(241, 100, 108, .2);
    background-color: rgba(241, 100, 108, .8);
    color: #fff
}

.hb-btn-soft-info {
    background-color: rgba(155, 167, 202, .1);
    color: #9ba7ca
}

.hb-btn-soft-info:hover {
    background-color: #9ba7ca;
    color: #fff
}

.hb-btn-soft-info:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(155, 167, 202, .2);
    box-shadow: 0 0 0 .1rem rgba(155, 167, 202, .2);
    background-color: rgba(155, 167, 202, .8);
    color: #fff
}

.hb-btn-soft-dark {
    background-color: rgba(47, 70, 134, .1);
    color: #2f4686
}

.hb-btn-soft-dark:hover {
    background-color: #2f4686;
    color: #fff
}

.hb-btn-soft-dark:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(47, 70, 134, .2);
    box-shadow: 0 0 0 .1rem rgba(47, 70, 134, .2);
    background-color: rgba(47, 70, 134, .8);
    color: #fff
}

.hb-btn-soft-pink {
    background-color: rgba(255, 93, 160, .1);
    color: #ff5da0
}

.hb-btn-soft-pink:hover {
    background-color: #ff5da0;
    color: #fff
}

.hb-btn-soft-pink:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(255, 93, 160, .2);
    box-shadow: 0 0 0 .1rem rgba(255, 93, 160, .2);
    background-color: rgba(255, 93, 160, .8);
    color: #fff
}

.hb-btn-soft-purple {
    background-color: rgba(117, 81, 233, .1);
    color: #7551e9
}

.hb-btn-soft-purple:hover {
    background-color: #7551e9;
    color: #fff
}

.hb-btn-soft-purple:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(117, 81, 233, .2);
    box-shadow: 0 0 0 .1rem rgba(117, 81, 233, .2);
    background-color: rgba(117, 81, 233, .8);
    color: #fff
}

.hb-btn-soft-blue {
    background-color: rgba(43, 85, 204, .1);
    color: #2b55cc
}

.hb-btn-soft-blue:hover {
    background-color: #2b55cc;
    color: #fff
}

.hb-btn-soft-blue:focus {
    -webkit-box-shadow: 0 0 0 .1rem rgba(43, 85, 204, .2);
    box-shadow: 0 0 0 .1rem rgba(43, 85, 204, .2);
    background-color: rgba(43, 85, 204, .8);
    color: #fff
}

.hb-btn-social-icon .hb-btn {
    width: 36px;
    height: 36px;
    padding-left: 10px
}

.hb-btn-facebook {
    color: #fff !important;
    background-color: #3b5998
}

.hb-btn-twitter {
    color: #fff !important;
    background-color: #00aced
}

.hb-btn-dropbox {
    color: #fff !important;
    background-color: #007ee5
}

.hb-btn-skype {
    color: #fff !important;
    background-color: #00aff0
}
